<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to Suburblia</h1>

  <h2>
    The finest local restaurants and businesses
  </h2>
  
  <% if user_signed_in? %>
    <%= link_to "Create a Restaurant", new_user_restaurant_path(current_user.id), class: "btn btn-lg btn-primary" %>
  <% else %>
    <%= link_to "Sign up", "#sign_up", "data-toggle" => "modal", :class => 'btn btn-lg btn-primary' %>
  <% end %>
</div>