<% provide(:title, "Feed") %>
<% if @feed_items.any? %>
  <div class="col-md-12 animated fadeInUp" id="posts">
    <h1> Feed </h1>
    <% if @feed_items.blank? %>
      <p style="text-align: center;"> No posts yet </p>
    <% else %>
      <% @feed_items.each do |feed_item| %>
        <% if feed_item.content.blank? %>
          <% next %>
        <% else %>
          <div class="panel panel-default">
            <div class="panel-heading">
              Posted <%= time_ago_in_words(feed_item.created_at) %> ago by <%= feed_item.restaurant.name %>
            </div>
            <div class="panel-body">
              <%= feed_item.content %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% else %>
<div class="col-md-12 animated fadeInUp">
  <h1> There's nothing here!</h1>
  <hr>
  <p style="text-align: center">Follow some restaurants to receive updates on this page</p>
</div>  
<% end %>