<% @restaurant ||= current_user %>
<div class="stats">
  <a href="<%= followers_restaurant_path(@restaurant) %>">
    <strong id="followers" class="stat">
      <%= @restaurant.followers.count %>
    </strong>
    followers
  </a>
</div>