<%= bootstrap_form_for(current_user.active_relationships.build, remote: true) do |f| %>
  <%= hidden_field_tag :followed_id, @restaurant.id %>
  <%= f.submit "Follow", class: "btn btn-primary btn-success" %>
<% end %>
