<div id="filterrific_results", class="container">
    <%= page_entries_info @restaurants %>
<!-- Restaurant listings -->
  <div class="row fix">
	  	<% @restaurants.each do |restaurant| %>
	      <div class="col-md-4">
	        <div class="thumbnail animated fadeInUp">
  	      	<% if restaurant.image_url.present? %>
  	        	<%= link_to image_tag(restaurant.image_url(:thumb)), restaurant, class:"img-responsive"%> 
            <% else %> 
              <%= link_to image_tag("http://placehold.it/500x300"), restaurant, class:"img-responsive" %>
            <% end %>
            <div class="caption">
              <h3> <%= link_to restaurant.name, restaurant %> </h3>
  	          <% if restaurant.reviews.present? %>
  	            <p class="star-rating" data-score=<%= restaurant.reviews.average(:rating).round(2) %>> </p>
  	          <% else %>
  	           <p> No ratings </p>
  	          <% end %>
            </div>
          </div>
	     </div>
	   <% end %>
  </div>
  <div class="text-center">
    <%= will_paginate @restaurants, renderer: BootstrapPagination::Rails %>
  </div>
</div>
