<%= bootstrap_form_for(current_user.active_relationships.find_by(followed_id: @restaurant.id),
             html: { method: :delete }, remote: true) do |f| %>
  <%= f.submit "Unfollow", class: "btn btn-primary btn-danger" %>
<% end %>