<% provide(:title, "New Restaurant") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @restaurant do |f| %>
      <br>
      <br>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <br>
      <br>
      <%= f.label :description %>
      <br>
      <%= f.text_area :description %>
      <br>
      <br>
      <%= f.select :category_id, Category.all.map{ |f| [f.name, f.id] } %>
      <br>
      <br>
      <div class="pull-left">
      <%= f.label :address1 %>
      <%= f.text_field :address1 %>
      </div>
      <div class="pull-right">
      <%= f.label :address2 %>
      <%= f.text_field :address2 %>
      </div>
      <br>
      <br>
      <div class="pull-left">
      <%= f.label :city %>
      <%= f.text_field :city %>
      </div>
      <div class="pull-right">
      <%= f.label :state %>
      <%= f.text_field :state %>
      </div>
      <br>
      <br>
      <%= f.label :zipcode %>
      <%= f.text_field :zipcode %>
      <br>
      <br>
      <div class="pull-left">
      <%= f.label :phone %>
      <%= f.text_field :phone %>
      </div>
      <div class="pull-right">
      <%= f.label :email %>
      <%= f.text_field :email %>
      </div>
      <br>
      <br>
      <div class="pull-Left">
      <strong>Thumbnail image</strong>
      </div> 
      <div class="pull-Left">
      <p>should be 500 x 300</p>
      </div> 
      <div class="pull-Left">
      <%= f.file_field :image %>
      </div> 
      <br>
      <br>
      <%= f.submit %>
    <% end %>
  </div>
</div>