
<% provide(:title, "Restaurants") %>
<!-- Page Content -->
<div class="container">
  <!-- Page Header -->
  <div class="row fix">
    <div class="col-lg-12">
      <h1 class="page-header">Restaurants
        <small>in your area</small>
      </h1>
    </div>
  </div>
  <!-- Map -->
  <div class="row">
    <div class="col-md-12 animated zoomIn">
        <div id="map" style='width: auto; height: 400px;'></div>
    </div>
  </div>
</div>

  <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {disableDefaultUI: true}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
  </script>


<div class="help-block"></div>

<div class="container">
  <div class="row fix">    
    <div class="col-md-12 col-md-offset-2">
      <div class="input-group">
          <%= form_for_filterrific @filterrific do |f| %>
            <div class="form-group col-xs-4">
                         
              <label for="category">Category:</label>
              <%= f.select(
                :with_category_id,
                @filterrific.select_options[:with_category_id],
                { include_blank: '- Any -' },
                { :class => 'form-control' }
              ) %>
            </div>
            <div class="form-group col-xs-4">
              <label for="sort">Sorted By:</label>
              <%= f.select(:sorted_by,
                           @filterrific.select_options[:sorted_by],
                           {},
                           { :class => 'form-control' } )%>
            </div>
            <div class="form-group col-xs-4">
              <label for="search">Search:</label>
              <%= f.text_field(
                :search_query,
                class: 'filterrific-periodically-observed form-control'
              ) %>
              <%= render_filterrific_spinner %>   
            </div>        
          <% end %>
        </div>
      </div>
  </div>
</div>

<%= render(
  partial: 'restaurants/list',
  locals: { restaurants: @restaurants }
) %>


