<% provide(:title, @restaurant.name) %>
<div class="container">
  <div class="row fix">
      <div class="col-md-7">
        <div>
          <% if @restaurant.image_url.present? %>
            <%= image_tag @restaurant.image_url %>
          <% else %>
            <%= link_to image_tag("http://placehold.it/700x400") %>
          <% end %>            
        </div>
      </div>
      <div class="col-md-5 animated zoomIn">
          <div>
            <div id="map" style='width: auto; height: 400px;'></div>
          </div>
      </div>
  </div>
      
  <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(17);
    });
  </script>

  <div class="help-block"></div>
  
  <%= render "reviews/review" %>  
  <%= render "microposts/micropost" %>
  
  <div class="row fix">
    <div class="col-md-7 col-xs-12">
      <div>
        <h1><%= @restaurant.name %> <h2 class="star-rating" data-score= <%= @avg_rating %>></h2></h1>
      </div>
      <%= link_to "Write a review", "#review", "data-toggle" => "modal", :class => 'btn btn-primary btn-primary' %>
      <a class="btn btn-primary btn-primary" id="directions">Get directions</a>
      <% if check_if_owner?(@restaurant) %>
        <%= link_to "Write a post", "#micropost", "data-toggle" => "modal", :class => 'btn btn-primary btn-primary' %>
        <%= link_to "Edit", edit_restaurant_path, class: "btn btn-primary btn-primary" %>
        <%= link_to "Delete", restaurant_path, method: :delete, data: {confirm: "Are you sure you want to delete this restaurant?"}, class: "btn btn-primary btn-danger" %>
      <% end %>
    </div>
    <div class="col-md-5 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">Information</div>
        <ul class="list-group">
          <li class="list-group-item"><%=@restaurant.address1%>, <%=@restaurant.city%>, <%=@restaurant.state%>. <%=@restaurant.zipcode%>.</li>
          <li class="list-group-item"><%=@restaurant.phone%></li>
          <li class="list-group-item"> <%= render 'shared/stats' %> </li>
          <li class="list-group-item"> <a class="btn btn-primary btn-primary" id="menu">View menu</a> <a class="btn btn-primary btn-primary" id="hours">View hours</a></li>
        </ul>
      </div>
    </div>
  </div>
  
  <hr>
  
  <div class="row animated fadeInUp">
    <div class="col-md-7" id="reviews">
      <h1> Reviews </h1>
      <% if @reviews.blank? %>
        <p style="text-align: center;"> No reviews yet </p>
      <% else %>
        <% @reviews.each do |review| %>
          <% if review.comment.blank? %>
            <% next %>
          <% else %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <strong><%= "#{review.user.first_name} #{review.user.last_name}" %></strong> <span><div class="star-rating" data-score=<%= review.rating %>></div></span>
              </div>
              <div class="panel-body">
                <%= review.comment %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
          
    <div class="col-md-5" id="posts">
      <h1> Posts </h1>
        <% if user_signed_in? %>
          <%= render 'follow_form' %>
          <hr>
        <% end %>
      <% if @microposts.blank? %>
        <p style="text-align: center;"> No posts yet </p>
      <% else %>
        <% @microposts.each do |micropost| %>
          <% if micropost.content.blank? %>
            <% next %>
          <% else %>
            <div class="panel panel-default">
              <div class="panel-heading">
                Posted <%= time_ago_in_words(micropost.created_at) %> ago.
              </div>
              <div class="panel-body">
                <%= micropost.content %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>   
  </div>
</div>

<!-- switch map to directions version -->
<script type="text/javascript">
  $('#directions').on('click', function (e) {
    document.getElementById("map").id = "directions"; 
    var directionsDisplay = new google.maps.DirectionsRenderer();
    var directionsService = new google.maps.DirectionsService();
    
    function calcRoute() {
      var origin      = new google.maps.LatLng(37.8858, -122.1180);                
      var destination = new google.maps.LatLng(<%= @restaurant.latitude %>, <%= @restaurant.longitude %>);
      var request = {
          origin:      origin,
          destination: destination,
          travelMode:  google.maps.TravelMode.DRIVING
      };
      directionsService.route(request, function(response, status) {
        if (status == google.maps.DirectionsStatus.OK) {
          directionsDisplay.setDirections(response);
        }
      });
    }
    
    calcRoute();
    
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: {id: 'directions'}}, function(){
    directionsDisplay.setMap(handler.getMap());
    });
    
  })
</script>

