<div class="container">
  <div class="modal fade" id="micropost" role="dialog">
    <div class="modal-dialog">
      <%= bootstrap_form_for([@restaurant, Micropost.new]) do |f| %>
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-comment"></span> Post </h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form">
            <%= f.text_area :content %>
            <%= f.submit value: 'Post', :class => "btn btn-success btn-block"  %>
          </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
      <% end %>
    </div>
  </div> 
</div>
