<div class="container">
  <div class="modal fade" id="review" role="dialog">
    <div class="modal-dialog">
      <%= bootstrap_form_for([@restaurant, Review.new]) do |f| %>
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-star"></span> Write a review </h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form">
            <%= f.text_area :comment %>
            <%= f.number_field :rating, value: 1, min: 1, max: 5 %>
            <%= f.submit "Publish review", :class => "btn btn-success btn-block" %>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel </button>
        </div>
      </div>
      <% end %>
    </div>
  </div> 
</div>