<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Suburblia", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right" id="buttons">
        <%= render "layouts/navbuttons" %>
      </ul>
    </nav>
  </div>
</header>
