  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- gmaps4rails js files -->
    <script src="//maps.google.com/maps/api/js?key=AIzaSyAoQTCovfWgorfnYERezcjoClgFQMV6j1A"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <%= render 'layouts/shim' %>
  </head>