<div class="container">
  <div class="modal fade" id="login" role="dialog">
    <div class="modal-dialog">
      <%= bootstrap_form_for(resource, url: session_path(:user), remote: true) do |f| %>
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Login </h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form">
            <%= f.email_field :email %>
            <%= f.password_field :password %>
            <%= f.check_box :remember_me %>
            <%= f.submit value: 'Sign in', :class => "btn btn-success btn-block"  %>
          </form>
        </div>
        <div class="modal-footer">
          <p><%= render "devise/shared/links" %></p>
          <%= devise_error_messages! %>
        </div>
      </div>
      <% end %>
    </div>
  </div> 
</div>
