<li><%= link_to "Home", root_path %></li>
<li><%= link_to "Restaurants", restaurants_path %></li>
<% if user_signed_in? %>
    <li><%= link_to "Feed", feed_path %></li>        
    <li><%= link_to "Edit profile", edit_user_registration_path %></li>
    <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
<% else %>
    <li><%= link_to "Sign in", "#login", "data-toggle" => "modal", :class => 'btn btn-small' %></li>
    <li><%= link_to "Sign up", "#sign_up", "data-toggle" => "modal", :class => 'btn btn-small' %></li>
<% end %>