<div class="container">
  <div class="modal fade" id="sign_up" role="dialog">
    <div class="modal-dialog">
      <%= bootstrap_form_for(resource, url: registration_path(resource_name), remote: true ) do |f| %>
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Sign up </h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form">
            <%= f.email_field :email %>
            <%= f.text_field  :first_name %>
            <%= f.text_field  :last_name %>
            <%= f.password_field :password %>
            <%= f.password_field :password_confirmation %>

            <%= f.submit value: 'Sign up', :class => "btn btn-success btn-block"  %>
          </form>
        </div>
        <div class="modal-footer">
          <p><%= render "devise/shared/links" %></p>
          <%= devise_error_messages! %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>