<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <%= render 'layouts/shim' %>

  <body>
    <%= render 'layouts/header' %>
    <%= render "layouts/login_modal" %>
    <%= render "layouts/sign_up_modal" %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
    <%= debug(params) if Rails.env.development? %>
    <script>
      $('.star-rating').raty({
        path: '/assets',
        readOnly: true,
        score: function () {
          return $(this).attr('data-score')
        }
      });
    </script>
    <script>
      //hides modals on successful attempts
      $(document).ready(function() {
        $('#new_user')
        .bind('ajax:success', function(evt, data, status, xhr) {
          $("[data-dismiss=modal]").trigger({ type: "click" });
          console.log('success');
          $("#buttons").html("<%= escape_javascript(render('layouts/navbuttons')) %>");
        })
        .bind("ajax:error", function(evt, xhr, status, error) {
          console.log(xhr.responseText);
        });
      });
    </script>    
    <script>
      $(document).ready(function() {
        $('#sign_up')
        .bind('ajax:success', function(evt, data, status, xhr) {
          $("[data-dismiss=modal]").trigger({ type: "click" });
          console.log('success');
          $("#buttons").html("<%= escape_javascript(render('layouts/navbuttons')) %>");
        })
        .bind("ajax:error", function(evt, xhr, status, error) {
          console.log(xhr.responseText);
        });
      });
    </script>
  </body>


</html>